<!DOCTYPE html>
<html>

<head>
    <title>Items</title>
</head>

<body>
    <h1>Вкуснейшие фруктики</h1>
    <table border="1">
        <tr>
            <th>Номер</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Описание</th>
            <th>Фото</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.info }}</td>
            <td><img src="{{ url_for('static', filename='images/' + item.photo) }}"
                    style="object-fit: contain; width:100px; height:100px;"></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>